name: Pulumi
# on:
#   push:
#     branches:
#       - main
on:
  workflow_dispatch:
    inputs:
      allocated_storage:
        required: true
        type: number
      database_name:
        required: true
        type: string
      db_username:
        required: true
        type: string
jobs:
  up:
    name: Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3

      - name: Setup Node JS 
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Installing dependencies 
        run: npm install

      - name: Login to Pulumi
        run: pulumi login
        env: 
          PULUMI_ACCESS_TOKEN: ${{secrets.PULUMI_ACCESS_TOKEN}}
        
      - name: Install and inject ESC Evironment Variables
        uses: pulumi/esc-action@v1
        with:
          oidc-auth: false 
          environment: 'demo/dat-demo/yte-ssm-parameter'


      - name: Set Pulumi Config
        run: |
          pulumi stack select demo/github-actions/dev
          pulumi config set allocated_storage ${{ github.event.inputs.allocated_storage }}
          pulumi config set database_name ${{ github.event.inputs.database_name }}
          pulumi config set db_username ${{ github.event.inputs.db_username }}


      - name: Applying infrastructure 
        uses: pulumi/actions@v4
        with:
          command: up
          stack-name: demo/github-actions/dev
        env:
           PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
